html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@media only screen and (max-device-width: 1200px) {
    /* .menu { width:1200px; } */
}

.cabecalho-landing {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 999;
}

#menu-landing {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 40px;
    top: 20px;
}

#menu-landing:hover {
    width: 55px;
    height: 35px;
    cursor: pointer;
    top: 18px;
}

#empresa-landing {
    position: absolute;
    left: 47%;
    top: -15px;
    font-family: SansSerif;
    font-style: normal;
    font-size: 35px;
    color: #FFFFFF;
}

#empresa-landing:hover {
    color: #79b3f6;
    cursor: pointer;
}

#cadastre-landing {
    position: absolute;
    left: 88%;
    top: 25px;
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    color: white;
}

#cadastre-landing:hover {
    color: #79b3f6;
    cursor: pointer;
}

#login-landing {
    width: 50px;
    position: absolute;
    left: 95%;
    top: 25px;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;
}

#login-landing:hover {
    color: #79b3f6;
    cursor: pointer;

}

.assistencia-landing {
    position: absolute;
    width: 100%;
    height: 280px;
    top: 70px;
    background: #333333;
}

#titulo-landing {

    position: absolute;
    left: 30%;
    top: 50px;
    font-family: SansSerif;
    font-size: 50px;
    color: white;
}

#icone-landing {
    position: absolute;
    width: 650px;
    height: 250px;
    left: 60%;
    top: 20px;
    opacity: 35%;
}

#contrate-landing {

    position: absolute;
    width: 644px;
    height: 67px;
    left: 608px;
    top: 350px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 67px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #000000;
}

#etiqueta-landing {

    position: absolute;
    width: 30px;
    height: 30px;
    left: 1075px;
    top: 425px;
}

.texto-landing {
    position: absolute;
    width: 1300px;
    height: 500px;
    left: 300px;
    top: 450px;


}

#primeiro-texto-landing {

    position: absolute;
    width: 600px;
    height: 125px;
    left: 0px;
    top: 0px;
    margin-top: 80px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
}

#primeira-imagem-landing {
    position: absolute;
    width: 553px;
    height: 369px;
    left: 670px;
    top: 80px;
}

#segunda-imagem-landing {
    position: absolute;
    width: 553px;
    height: 369px;
    left: 0px;
    margin-left: 20px;
    top: 500px;
}

#segundo-texto-landing {

    position: absolute;
    width: 600px;
    height: 178px;
    left: 630px;
    top: 520px;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
    color: #000000;

}

#terceiro-texto-landing {

    position: absolute;
    width: 600px;
    height: 200px;
    left: 0px;
    top: 1000px;
    margin-left: 20px;
    margin-bottom: 150px;
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
    color: #000000;

}

#terceira-imagem-landing {
    position: absolute;
    width: 403px;
    height: 369px;
    left: 770px;
    top: 920px;
}

.rodape-landing {
    background-color: white;
    position: fixed;
    width: 1300px;
    height: 70px;
    left: 300px;
    bottom: -20px;
    right: 210px;
    z-index: 999;
    text-align: center;
}
