.cabecalho-landing {
    background-color: #49998d;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 999;
}

#menu-landing {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 40px;
    top: 20px;
}

#menu-landing:hover {
    width: 55px;
    height: 35px;
    cursor: pointer;
    top: 18px;
}

#empresa-landing {
    position: absolute;
    left: 45%;
    top: -15px;
    font-family: fantasy;
    font-style: normal;
    font-size: 35px;
    color: #FFFFFF;
}

#empresa-landing:hover {
    color: #79b3f6;
    cursor: pointer;
}

#cadastre-landing {
    position: absolute;
    left: 89%;
    top: 25px;
    font-family: fantasy;
    font-size: 18px;
    text-align: center;
    color: white;
}

#cadastre-landing:hover {
    color: #3b7f75;
    cursor: pointer;
}

#login-landing {
    width: 50px;
    position: absolute;
    left: 95%;
    top: 25px;
    font-family: fantasy;
    font-size: 18px;
    color: white;
    text-align: center;
}

#login-landing:hover {
    color: #79b3f6;
    cursor: pointer;

}
/*Fim da NAV *****************************************************************************/

/*Inicio do header ***********************************************************************/

.assistencia-landing {
    position: absolute;
    width: 100%;
    height: 280px;
    top: 70px;
    background: #5bc4b5;
}

#titulo-landing {

    position: absolute;
    left: 30%;
    top: 50px;
    font-family: fantasy;
    font-size: 50px;
    color: white;
}

#icone-landing {
    position: absolute;
    width: 650px;
    height: 250px;
    left: 60%;
    top: 20px;
    opacity: 35%;
}

/*Fim do header ****************************************************************************/

/*Inicio da section ************************************************************************/

.texto-landing {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 355px;

}

#conheca-landing {
    margin-top: 10px;
    margin-left: 798px;
    font-family: fantasy;
    font-size: 30px;
    color: #000000;
}

#etiqueta-landing {
    position: absolute;
    width: 30px;
    height: 30px;
}

#primeira-imagem-landing {
    position: absolute;
    margin-top: -250px;
    margin-left: 220px;
    width: 100px;
    height: 100px;
}

#primeiro-texto-landing {
    margin-top: 200px;
    margin-left: 40px;
    width: 450px;
    height: 125px;
    font-family: fantasy;
    font-size: 25px;
    text-align: justify;
    color: #000000;
}


#segunda-imagem-landing {
    position: absolute;
    margin-top: -250px;
    margin-left: 900px;
    width: 100px;
    height: 100px;
}

#segundo-texto-landing {
    margin-top: -123px;
    margin-left: 720px;
    width: 450px;
    height: 125px;
    font-family: fantasy;
    font-size: 25px;
    text-align: justify;
    color: #000000;

}

#terceira-imagem-landing {
    position: absolute;
    margin-top: -250px;
    margin-left: 83%;
    width: 100px;
    height: 100px;
}

#terceiro-texto-landing {

    margin-top: -123px;
    margin-left: 1400px;
    width: 450px;
    height: 125px;
    font-family: fantasy;
    font-size: 25px;
    text-align: justify;
    color: #000000;

}

/*Fim da section ************************************************************************/

/*Inicio do footer **********************************************************************/
.rodape-landing {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: -20px;
    z-index: 999;
    text-align: center;
}
