.body {
    background-color: #4eada7;
}

#icone-user {
    margin-left: 200px;
    margin-top: 50px;
    width: 250px;
    height: 250px;
}

.caixa-login {
    position: absolute;
    width: 630px;
    height: 740px;
    left: 30%;
    top: 100px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: whitesmoke;
}

#formulario {
    position: absolute;
    width: 530px;
    height: 330px;
    top: 350px;
    left: 45px;

}

#email {
    margin-left: 70px;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
}

#senha {
    margin-left: 70px;
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
}

#login {
    position: absolute;
    margin-left: -270px;
    top: 150px;
    width: 150px;
    height: 60px;
    background-color: #4eada7;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    border: 2px solid black;
    outline: none;
}

#esqueceu-senha {
    position: absolute;
    margin-left: -260px;
    margin-top: 200px;
    cursor: pointer;
    color: #4eada7;
}

#nao-possui-login {
    position: absolute;
    margin-left: 170px;
    margin-top: 200px;
}

#cadastro {
    color: #4eada7;
    cursor: pointer;

}
