html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media only screen and (max-device-width: 1200px) {
  /* .menu { width:1200px; } */
}

.caixa-login {
  position: absolute;
  width: 630px;
  height: 740px;
  left: 650px;
  top: 100px;
  border: 1px solid black;
  border-radius: 25px;
}

#icone-user {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 230px;
  right: 315px;
  top: 80px;
  bottom: 60px;
}

#formulario {
  position: absolute;
  width: 530px;
  height: 330px;
  top: 350px;
  left: 50px;

}

#email {
  margin-left: 70px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

#senha {
  margin-left: 70px;
  margin-top: 20px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

#login {
  position: absolute;
  margin-left: -270px;
  top: 150px;
  width: 150px;
  height: 60px;
  background-color: #79b3f6;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

#esqueceu-senha {
  position: absolute;
  margin-left: -255px;
  margin-top: 200px;
  cursor: pointer;
  color: #79b3f6;
}

#nao-possui {
  position: absolute;
  margin-left: 160px;
  margin-top: 200px;
}

#cadastrar {
  color: #79b3f6;
  cursor: pointer;
  outline: none;

}


