#cabecalho {
    background-color: #418e89;
    position: fixed;
    width: 100%;
    z-index: 999;
}

#home-cabecalho {

    font-family: SansSerif, Helvetica, Arial;
    font-size: 18px;
    color: white;
}

#home-cabecalho:hover {
    color: #5bc4b5;
    cursor: pointer;
}


#como-funciona-cabecalho {

    font-family: SansSerif, Helvetica, Arial;
    font-size: 18px;
    color: white;
}

#como-funciona-cabecalho:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#sobre-cabecalho {

    font-family: SansSerif, Helvetica, Arial;
    font-size: 18px;
    color: white;
}

#sobre-cabecalho:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#contato-cabecalho {

    margin-right: 930px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 18px;
    color: white;
}

#contato-cabecalho:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#empresa-cabecalho {
    font-family: SansSerif, Helvetica, Arial;
    font-style: italic;
    font-size: 30px;
    color: #FFFFFF;
    margin: auto;

}

#empresa-cabecalho:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#login-cabecalho {
    margin-right: 5px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 18px;
    font-style: normal;
    border: 0px solid black;
    border-radius: 25px;
    padding: 0.2%;
    padding-left: 40px;
    padding-right: 40px;
    background: #5bc4b5;
    color: white;
    text-decoration: none;
}

#login-cabecalho:hover {
    cursor: pointer;

}

/*Fim do cabecalho ********************************************************/

/*Inicio do header ********************************************************/

#header {
    position: absolute;
    width: 100%;
    height: 78%;
    background: #4eada7;
    padding-bottom: 20px;
}

#header-image {
    position: absolute;
    margin-left: 900px;
    margin-top: 150px;
}

#caixa-cadastro {
    position: absolute;
    width: 430px;
    height: 540px;
    left: 350px;
    top: 150px;

}

/*#formulario {*/
/*    position: absolute;*/
/*    width: 400px;*/
/*    height: 330px;*/
/*    top: 200px;*/
/*    left: 15px;*/

/*}*/

#titulo-formulario {
    margin-left: 15px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 35px;
}

#subtitulo-formulario {
    margin-left: 15px;
    margin-top: -20px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#mais-clientes {
    color: white;
}

#email-cadastro {
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#senha-cadastro {
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#tipo-cadastro {
    margin-left: 10px;
    margin-top: 20px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 0px;
}

#nome-cadastro {
    margin-left: 10px;
    margin-top: 20px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#cpf-cadastro {
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#cadastrar {
    margin-top: 30px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    background-color: #4eada7;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
    font-size: 20px;
    color: white;
}

/*======================================Fim do header ======================================*/

/*======================================Inicio body ======================================*/

#explicacao {
    position: absolute;
    margin-top: 750px;
    width: 100%;
    height: 24%;
    background: white;
}

#explicacao-notificacao-image {
    width: 150px;
    height: 130px;
    margin-left: 520px;
}

#explicacao-texto-notificacao {
    position: absolute;
    text-align: center;
    margin-left: 400px;
}

#explicacao-economia-image {
    margin-top: 15px;
    width: 150px;
    height: 130px;
    margin-left: 200px;
}

#explicacao-texto-economia {
    position: absolute;
    text-align: center;
    margin-left: 800px;
}

#explicacao-seguranca-image {
    width: 110px;
    height: 90px;
    margin-left: 200px;
}

#explicacao-texto-seguranca {
    position: absolute;
    text-align: center;
    margin-left: 1150px;
}

#como-funciona {
    position: absolute;
    margin-top: 980px;
    width: 100%;
    height: 23%;
    background: #4eada7;
}

#titulo-como-funciona {
    margin-top: 50px;
    margin-left: 480px;
    font-size: 35px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;
    opacity: 90%;
}

#texto-como-funciona {
    margin-left: 480px;
    font-size: 20px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;
    opacity: 90%;
}

#como-funciona-image {
    margin-top: -170px;
    margin-left: 1000px;
    width: 400px;
    height: 200px;
}


#quanto-custa {
    position: absolute;
    margin-top: 1200px;
    width: 100%;
    height: 23%;
    background: white;
}

#titulo-quanto-custa {
    margin-top: 50px;
    margin-left: 480px;
    font-size: 35px;
    font-family: SansSerif, Helvetica, Arial;
    color: #34464f;
    opacity: 90%;
}

#texto-quanto-custa {
    margin-left: 480px;
    font-size: 20px;
    font-family: SansSerif, Helvetica, Arial;
    color: #34464f;

}

#quanto-custa-image {
    margin-top: -200px;
    margin-left: 1200px;
    width: 200px;
    height: 200px;;
}


#sobre-nos-cadastro {
    position: absolute;
    margin-top: 1420px;
    width: 100%;
    height: 90%;
    background-color: #4eada7;

}

#titulo-sobre-nos {
    margin-top: 60px;
    margin-left: 105px;
    font-size: 35px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;
}

#texto-sobre-nos {

    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;
}

#sobre-nos-image {
    margin-top: 155px;
    margin-left: 20px;
}


#primeiro-texto {
    position: absolute;
    width: 350px;
    text-align: justify;
    margin-top: 1600px;
    margin-left: 900px;
    font-size: 18px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;
}

#primeira-imagem {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 125px;
    top: -150px;
}


#segundo-texto {

    position: absolute;
    width: 350px;
    text-align: justify;
    margin-top: 1600px;
    margin-left: 1400px;
    font-size: 18px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;

}

#segunda-imagem {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 130px;
    top: -150px;
}

#terceiro-texto {

    position: absolute;
    width: 350px;
    text-align: justify;
    margin-top: 2000px;
    margin-left: 1150px;
    font-size: 18px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;

}

#terceira-imagem {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 130px;
    top: -100px;
}

/*======================================Fim body ======================================*/

/*======================================Inicio Rodape======================================*/

#rodape-home {
    position: absolute;
    margin-top: 2230px;
    width: 100%;
    height: 31%;
    background-color: #282c34;
}

#rodape-servicos {
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

dt {
    font-size: 15px;
}

dt:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#rodape-rede-social {
    position: absolute;
    margin-top: 70px;
    margin-left: 650px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-instagram-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 115px;

}

#rodape-facebook-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 165px
}

#rodape-whatsapp-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 215px
}

#rodape-instagram:hover, #rodape-facebook:hover, #rodape-whatsapp:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#rodape-instagram, #rodape-facebook, #rodape-whatsapp {
    margin-left: 40px;
    padding: 2px;
}

#rodape-downloads {
    position: absolute;
    margin-top: 70px;
    margin-left: 1050px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-baixar-icon {
    position: absolute;
    width: 150px;
    height: 100px;
    margin-left: 1025px;
    margin-top: 100px
}

#rodape-mais-informacoes {
    position: absolute;
    margin-top: 70px;
    margin-left: 1500px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-email {
    position: absolute;
    margin-top: 108px;
    margin-left: 1545px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-email:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#rodape-email-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1502px;
    margin-top: 105px
}

#rodape-telefone {
    position: absolute;
    margin-top: 160px;
    margin-left: 1545px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-telefone-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1502px;
    margin-top: 155px
}

#rodape-empresa {

    margin-top: 255px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
    text-align: center;
}
