#cabecalho-landing {
    background-color: #49998d;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 999;
}

#home-landing {
    position: absolute;
    left: 42%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#home-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#sobre-landing{
    position: absolute;
    left: 46%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#sobre-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#catalogo-landing{
    position: absolute;
    left: 50%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#catalogo-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#contato-landing{
    position: absolute;
    left: 55%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#contato-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#empresa-landing {
    position: absolute;
    left: 40px;
    top: 15px;
    font-family: SansSerif;
    font-style: italic;
    text-decoration: none;
    font-size: 35px;
    color: #FFFFFF;
}

#empresa-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#login-landing {

    position: absolute;
    left: 80%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    color: white;
    text-align: center;
    text-decoration: none;

}

#login-landing:hover {
    color: #5bc4b5;
    cursor: pointer;

}

#cadastre-landing {
    position: absolute;
    left: 85%;
    top: 15px;
    font-family: SansSerif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    border: 0px solid black;
    border-radius: 20px;
    padding: 0.5%;
    padding-left: 25px;
    padding-right: 25px;
    background: #5bc4b5;
    color: white;
    text-decoration: none;
}

#cadastre-landing:hover {
    color: #3b7f75;
    cursor: pointer;
}

/*Fim da NAV *****************************************************************************/

/*Inicio do header ***********************************************************************/

#assistencia-landing {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 70px;
    background: #5bc4b5;
}

#titulo-landing {

    position: absolute;
    left: 40px;
    top: 90px;
    font-family: SansSerif;
    font-size: 30px;
    color: white;
}

#icone-landing {
    position: absolute;
    width: 680px;
    height: 280px;
    left: 60%;
    top: 90px;
    opacity: 35%;
}

/*Fim do header ****************************************************************************/

/*Inicio da section ************************************************************************/

#servicos-landing {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 470px;

}

#conheca-landing {
    margin-top: 100px;
    margin-left: 840px;
    font-family: SansSerif;
    font-size: 30px;
    color: #000000;
}

#etiqueta-landing {
    position: absolute;
    width: 30px;
    height: 30px;
}

#primeira-imagem-landing {
    position: absolute;
    margin-top: -250px;
    margin-left: 220px;
    width: 100px;
    height: 100px;
}

#primeiro-texto-landing {
    margin-top: 200px;
    margin-left: 40px;
    width: 450px;
    height: 125px;
    font-family: SansSerif;
    font-size: 25px;
    text-align: justify;
    color: #000000;
}


#segunda-imagem-landing {
    position: absolute;
    margin-top: -250px;
    margin-left: 900px;
    width: 100px;
    height: 100px;
}

#segundo-texto-landing {
    margin-top: -123px;
    margin-left: 720px;
    width: 450px;
    height: 125px;
    font-family: SansSerif;
    font-size: 25px;
    text-align: justify;
    color: #000000;

}

#terceira-imagem-landing {
    position: absolute;
    margin-top: -250px;
    margin-left: 83%;
    width: 100px;
    height: 100px;
}

#terceiro-texto-landing {

    margin-top: -123px;
    margin-left: 1400px;
    width: 450px;
    height: 125px;
    font-family: SansSerif;
    font-size: 25px;
    text-align: justify;
    color: #000000;

}

/*Fim da section ************************************************************************/

/*Inicio do footer **********************************************************************/
#rodape-landing {
    background-color: white;
    position: absolute;
    margin-top: 100%;
    width: 100%;
    height: 70px;
    text-align: center;
}
