#cabecalho-landing {
    background-color: #418e89;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 999;
}
#home-landing {
    position: absolute;
    left: 42%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#home-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}


#como-funciona-landing{
    position: absolute;
    left: 46%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#como-funciona--landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#sobre-landing{
    position: absolute;
    left: 54%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#sobre-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#contato-landing{
    position: absolute;
    left: 58%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    text-align: center;
    color: white;
}

#contato-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#empresa-landing {
    position: absolute;
    left: 40px;
    top: 15px;
    font-family: SansSerif;
    font-style: italic;
    text-decoration: none;
    font-size: 35px;
    color: #FFFFFF;
}

#empresa-landing:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#login-landing {

    position: absolute;
    left: 80%;
    top: 25px;
    font-family: SansSerif;
    font-size: 18px;
    color: white;
    text-align: center;
    text-decoration: none;

}

#login-landing:hover {
    color: #5bc4b5;
    cursor: pointer;

}

#cadastre-landing {
    position: absolute;
    left: 85%;
    top: 15px;
    font-family: SansSerif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    border: 0px solid black;
    border-radius: 20px;
    padding: 0.5%;
    padding-left: 25px;
    padding-right: 25px;
    background: #5bc4b5;
    color: white;
    text-decoration: none;
}

#cadastre-landing:hover {
    color: #3b7f75;
    cursor: pointer;
}

/*Fim do cabecalho ********************************************************/

/*Inicio do header ********************************************************/

#header {
    position: absolute;
    width: 100%;
    height: 78%;
    background: #4eada7;
    padding-bottom: 20px;

}

.caixa-cadastro {
    position: absolute;
    width: 430px;
    height: 540px;
    left: 350px;
    top: 150px;

}

#formulario-cadastro {
    position: absolute;
    width: 400px;
    height: 330px;
    top: 200px;
    left: 15px;

}

#titulo-formulario-cadastro {
    margin-left: 30px;
    font-family: Helvetica;
    font-size: 35px;
}

#subtitulo-formulario-cadastro {
    margin-left: 30px;
    margin-top: -20px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

#mais-clientes {
    color: white;
}

#nome-cadastro {
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#email-cadastro {
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#senha-cadastro {
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#repetir-senha-cadastro {
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    padding-left: 5px;
}

#cadastro-cadastro {
    margin-top: 30px;
    margin-left: 14px;
    width: 350px;
    height: 40px;
    background-color: #4eada7;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
    font-size: 20px;
    color: white;
}

#login-cadastro {
    color: white;
    cursor: pointer;
}

#header-image {
    position: absolute;
    margin-left: 900px;
    margin-top: 150px;
}

/*Fim do header ****************************************/

/*Inicio body ******************************************/

#explicacao-cadastro {
    position: absolute;
    margin-top: 750px;
    width: 100%;
    height: 24%;
    background: white;
}

#notificacao-image {
    width: 150px;
    height: 130px;
    margin-left: 520px;
}

#texto-notificacao {
    position: absolute;
    text-align: center;
    margin-left: 400px;
}

#economia-image {
    margin-top: 15px;
    width: 150px;
    height: 130px;
    margin-left: 200px;
}

#texto-economia {
    position: absolute;
    text-align: center;
    margin-left: 800px;
}

#seguranca-image {
    width: 110px;
    height: 90px;
    margin-left: 200px;
}

#texto-seguranca {
    position: absolute;
    text-align: center;
    margin-left: 1150px;
}

#como-funciona-cadastro {
    position: absolute;
    margin-top: 980px;
    width: 100%;
    height: 23%;
    background: #4eada7;
}

#como-funciona-image {
    margin-top: -200px;
    margin-left: 1000px;
    width: 400px;
    height: 200px;
}

#titulo-como-funciona-cadastro {
    margin-top: 50px;
    margin-left: 480px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    opacity: 90%;
}


#texto-como-funciona-cadastro {
    margin-left: 480px;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    opacity: 90%;
}

#quanto-custa-cadastro {
    position: absolute;
    margin-top: 1200px;
    width: 100%;
    height: 23%;
    background: white;
}

#quanto-custa-image {
    margin-top: -200px;
    margin-left: 1200px;
    width: 200px;
    height: 200px;;
}

#titulo-quanto-custa-cadastro {
    margin-top: 50px;
    margin-left: 480px;
    font-size: 35px;
    font-family: Helvetica;
    color: #34464f;
    opacity: 90%;
}


#texto-quanto-custa-cadastro {
    margin-left: 480px;
    font-size: 20px;
    font-family: Helvetica;
    color: #34464f;

}

#sobre-nos-cadastro {
    position: absolute;
    margin-top: 1420px;
    width: 100%;
    height: 85%;
    background-color: #4eada7;

}

#titulo-sobre-nos-cadastro {
    margin-left: 90px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
}

#texto-sobre-nos-cadastro {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

#sobre-nos-image {
    margin-top: 180px;
    margin-left: 20px;
}
/*Fim body ******************************************/

/*Inicio Rodape**************************************/

#informacoes-landing {
    position: absolute;
    margin-top: 2230px;
    width: 100%;
    height: 30%;
    background-color: #282c34;
}

#servicos-informacoes{
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

dt{
    font-size: 15px;
}

#rede-social-informacoes{
    position: absolute;
    margin-top: 70px;
    margin-left: 650px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

#instagram-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 100px;

}

#facebook-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 140px
}

#whatsapp-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 180px
}

#instagram, #facebook, #whatsapp{
    margin-left: 40px;
    padding: 2px;
}

#downloads-informacoes{
    position: absolute;
    margin-top: 70px;
    margin-left: 1050px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

#baixar-icon{
    position: absolute;
    width: 150px;
    height: 100px;
    margin-left: 1025px;
    margin-top: 100px
}

#mais-informacoes{
    position: absolute;
    margin-top: 70px;
    margin-left: 1500px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

#email-informacoes{
    position: absolute;
    margin-top: 108px;
    margin-left: 1545px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

#email-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1502px;
    margin-top: 105px
}

#telefone-informacoes{
    position: absolute;
    margin-top: 160px;
    margin-left: 1545px;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

#telefone-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1502px;
    margin-top: 155px
}

#empresa{

    margin-top: 255px;

    font-family: Helvetica;
    font-size: 20px;
    color: white;
    text-align: center;
}