#cabecalho-cliente {
    background-color: #418e89;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 999;
}

#empresa-cabecalho-cliente {
    position: absolute;
    left: 40px;
    top: 15px;
    font-family: SansSerif, Helvetica, Arial;
    font-style: italic;
    text-decoration: none;
    font-size: 35px;
    color: #FFFFFF;
}

#empresa-cabecalho-cliente:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#perfil-cliente{
    margin-left: 95%;
    margin-top: 5px;
    position: absolute;
    float: right;
    height: 60px;
    width: 60px;
}

#perfil-cliente:hover{
    cursor: pointer;
}

/*=================================================Fim da Nav===============================================*/

/*======================================================Inicio Header========================================*/

#titulo-cliente{
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
    font-family: SansSerif, Helvetica, Arial;
    color: white;
}

#servicos-cliente{
    position: absolute;
    margin-left: 485px;
    margin-top: 250px;
    width: 950px;
    height: 400px;
    background: white;
    border: 1px solid white;
    border-radius: 25px;
}

#caixa-manutencao-cliente{
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    width: 250px;
    height: 300px;
    border-radius: 25px;
}

#caixa-manutencao-cliente:hover{
    padding-top: 25px;
    padding-bottom: 50px;
    cursor: pointer;
}

#manutencao-cliente{
    margin-left: 30px;
    margin-top: 30px;
    width: 200px;
    height: 150px;
}

#texto-manutencao-cliente{
    margin-top: 20px;
    text-align: center;
}

#caixa-site-cliente{
    position: absolute;
    margin-left: 350px;
    margin-top: 50px;
    width: 250px;
    height: 300px;
    border-radius: 25px;
}

#caixa-site-cliente:hover{
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

#site-cliente{
    margin-left: 30px;
    margin-top: 30px;
    width: 200px;
    height: 150px;
}
#texto-site-cliente{

    margin-left: 25px;
    margin-top: 30px;
}

#caixa-design-cliente{
    position: absolute;
    margin-left: 650px;
    margin-top: 50px;
    width: 250px;
    height: 300px;
    border-radius: 25px;

}

#caixa-design-cliente:hover{
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

#design-cliente{
    margin-left: 37px;
    margin-top: 30px;
    width: 180px;
    height: 150px;
}

#texto-design-cliente{
    margin-left: 25px;
    margin-top: 30px;
}

/*======================================Inicio Rodape======================================*/

#rodape-cliente {
    position: absolute;
    margin-top: 900px;
    width: 100%;
    height: 31%;
    background-color: #282c34;
}

#rodape-servicos-cliente {
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

dt {
    font-size: 15px;
}

dt:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#rodape-rede-social-cliente {
    position: absolute;
    margin-top: 70px;
    margin-left: 650px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-instagram-icon-cliente {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 115px;

}

#rodape-facebook-icon-cliente {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 165px
}

#rodape-whatsapp-icon-cliente {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    margin-top: 215px
}

#rodape-instagram-cliente:hover, #rodape-facebook-cliente:hover, #rodape-whatsapp-cliente:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#rodape-instagram-cliente, #rodape-facebook-cliente, #rodape-whatsapp-cliente {
    margin-left: 40px;
    padding: 2px;
}

#rodape-downloads-cliente {
    position: absolute;
    margin-top: 70px;
    margin-left: 1050px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-baixar-icon-cliente {
    position: absolute;
    width: 150px;
    height: 100px;
    margin-left: 1025px;
    margin-top: 100px
}

#rodape-mais-informacoes-cliente {
    position: absolute;
    margin-top: 70px;
    margin-left: 1500px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-email-cliente {
    position: absolute;
    margin-top: 108px;
    margin-left: 1545px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-email-cliente:hover {
    color: #5bc4b5;
    cursor: pointer;
}

#rodape-email-icon-cliente {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1502px;
    margin-top: 105px
}

#rodape-telefone-cliente {
    position: absolute;
    margin-top: 160px;
    margin-left: 1545px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
}

#rodape-telefone-icon-cliente {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1502px;
    margin-top: 155px
}

#rodape-empresa-cliente {

    margin-top: 255px;
    font-family: SansSerif, Helvetica, Arial;
    font-size: 20px;
    color: white;
    text-align: center;
}
