.cabecalho{
    background-color: aqua;
position: absolute;
width: 1500px;
height: 86px;
left: 210px;
top: 0px;
}
#logo{
position: absolute;
width: 62px;
height: 57px;
left: 52px;
top: -15px;

font-family: Saira Condensed;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 57px;
color: #000000;
}

#empresa{
 position: absolute;
width: 111px;
height: 57px;
left: 522px;
top: -15px;

font-family: Saira Condensed;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 57px;
color: #000000;
}

#cadastre{
position: absolute;
width: 134px;
height: 28px;
left: 1068px;
top: -5px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 57px;

color: #000000;
}

#login{
position: absolute;
width: 60px;
height: 28px;
left: 1322px;
top: -5px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 57px;

color: #000000;
}

#caixa-login{
position: absolute;
width: 150px;
height: 52px;
left: 1275px;
top: 0px;

border: 1px solid #000000;
}